<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="/">The Ringer Article Scraper</a>
  <button class="navbar-toggler" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/savedarticles">Saved Articles
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-warning clear" id="scrape-button">Scrape Articles</a>
      <li class="nav-item">
        <a class="btn btn-warning clear">Clear Articles</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="bg-success">
    </div>
    <div class="caption">
    <h1>The Ringer Article Scraper</h1>
    <p>Check out the latest articles from theringer.com. You can save and comment
        on articles to read later. 
    </p>
    </div>
</div>

<div id="scrapedList">hello</div>

  <script src="../public/webscraper.js"></script>