<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <button class="navbar-toggler" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/savedarticles">Saved Articles
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="bg-success">
    </div>
    <div class="caption">
    <h1>The Ringer Article Scraper</h1>
    <p>Your saved Articles</p>
      <div class="mt-4">
        <a class="btn btn-warning clear">Clear Articles</a>
      </div>

    </div>
</div>

<div class="savedList"></div>

<div class="modal" id="notes" tabindex="-1" role="dialog">
  <div class="model-dialog" role="document">
    <div class="model-content">
      <div class="model-head">
        <h3 class="model-title" id="title">Article Notes</h3>
      </div>
      <div class="model-body">
        <p id="note-body"></p>
      </div>
    </div>
  </div>

</div>

<script src="../public/saved.js"></script>